* {
  margin: 0;
  padding: 0;  
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body ul {
    list-style: none;
}


header{
    width: 100%;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    background-color: #1d1d1d;
}

header nav {
    display: flex;
    justify-content: flex-end;
    height: auto;
}

header nav .nav-list{
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem 0 0;
}

nav .nav-list a {
    text-decoration: none;
    margin-right: 12px;
    color: #ffffff;
    font-size: 20px;
}

main {
    width: 100%;
    height: auto;
    display: block;
    background-color: #0a192f;
}

main .central-content{
    width: 75%;
    background-color: #0b2d2d;
    margin: auto;
    padding: 50px;
    height: 780px;
    max-height: 1000px;
}

main .central-myself{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

main .myself{
    display: block;
    padding: 30px 0;
    font-size: 30px;
}

main .second-myself{
    display: block;
    padding: 30px 0 30px;
    font-size: 25px;
}

main .myself-details{
    display: block;
    padding: 10px 0;
    font-size: 20px;
}

main .about-me{
    width: 75%;
    background-color: #1d1d1d;
    margin: auto;
    padding: 50px;
    max-height: 1000px;
}

main .full-about-me{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

main .initial-about-me{
    padding: 20px 0;
    font-size: 30px;
}

main .second-about-me{
    font-size: 30px;
}

main .text-about-me{
    width: 80%;
    font-size: 15px;
    padding: 0 20px 0 0;
    display: inline-block;
}

main .details-about-me{
    font-size: 20px;
}

/* main .profile-img-about-me{
    width: 35%;
    display: inline-block;

} */

main .details-about-me{
    display: block;
    padding: 10px 0;
}

footer {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #0b2d2d;
}