* {
    margin: 0;
    padding: 0;
}


/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
:root {
    --second_roboto: @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
    --high-font-size: 45px;
    --less-high-font-size: 35px;
    --medium-font-size: 30px;
    --low-font-size: 25px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

body ul {
    list-style: none;
}

header {
    width: 100%;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #0e1c31;
    position: fixed;
}

header nav {
    display: flex;
    justify-content: flex-end;
    height: auto;
}

header nav .nav-list {
    width: 350px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem 0 0;
}

nav .nav-list a {
    text-decoration: none;
    margin-right: 12px;
    color: #ffffff;
    font-size: var(--medium-font-size);
    border: 1px solid transparent;
    border-radius: .75rem;
    /* padding: 0 1%; */
    transition: .5s;
}

nav .nav-list a:hover {
    background-color: #374151;
}

main {
    width: 100%;
    height: auto;
    display: block;
    background-color: #0a192f;
}

main .central-content {
    width: 80%;
    background-color: #0a192f;
    margin: auto;
    margin-bottom: 5rem;
    padding: 20px;
    height: max-content;
}

main .central-myself {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5% 0 0 0;
    align-items: flex-start;
}

main .myself {
    display: block;
    padding: 30px 0;
    font-size: var(--high-font-size);
    font-family: var(--second_roboto);
    font-weight: 700;
    width: 100%;
}

main .second-myself {
    display: block;
    padding: 30px 0 30px;
    font-size: var(--less-high-font-size);
}

main .myself-details {
    display: block;
    width: 100%;
    text-align: justify;
    padding: 10px 0;
    font-size: var(--medium-font-size);
}

main .about-me {
    width: 80%;
    background-color: #0a192f;
    margin: auto;
    margin-bottom: 5rem;
    padding: 20px;
}

main .full-about-me {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}

main .initial-about-me {
    padding: 20px 0;
    font-size: 45px;
}

main .second-about-me {
    font-size: 40px;
}

main .text-about-me {
    width: 80%;
    font-size: 30px;
    padding: 0 20px 0 0;
    display: inline-block;
}

main .details-about-me {
    font-size: 25px;
    text-align: justify;
}

main .details-about-me .details-paragraph {
    margin: 20px 0;
}

main .details-about-me {
    display: block;
    padding: 10px 0;
}

main .contact-me {
    width: 90%;
    height: max-content;
    background-color: #0a192f;
    margin: auto;
    margin-bottom: 5rem;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

main .central-contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    flex-direction: column;
}

main .title-contact {
    font-size: var(--high-font-size);
    justify-content: center;
    margin: 0 auto;
    display: block;
}

main .section-contact {
    display: block;
    padding: 20px;
    margin-bottom: 50px;
    font-size: var(--medium-font-size);
    text-align: justify;
    width: 60%;
}

main .button-contact {
    display: block;
}

main .button-contact .button {
    /* font-family: 'Roboto', 'sans-serif'; */
    /* font-size: 25px; */
    /* text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 25px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC; */
    background-color: #354974;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

main .button-contact .button:hover {
    background-color: #374151;
}

main .button-contact .button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

main .profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

footer {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #0a192f;
}

footer .footer-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--low-font-size);
}

main p {
    font-size: 1.8rem;
}

@media (min-width: 768px) {
    .button-40 {
        padding: .75rem 1.5rem;
    }
}

@media screen and (max-width: 780px) {
    main {
        justify-content: center;
        margin: auto;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    main h2 {
        font-size: 3rem;
    }
    main .full-about-me {
        display: block;
        align-items: center;
    }
    main .myself-details {
        text-align: center;
        width: 100%;
    }
    main .myself {
        text-align: center;
    }
    main .central-myself {
        margin: 10% 0 0 0;
    }
    main .central-content {
        width: 90%;
        padding: 40px 0 20px 20px;
        margin-bottom: 2rem;
    }
    main .about-me {
        width: 90%;
    }
    main .profile-pic {
        height: 200px;
        width: 200px;
    }
}